<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559044741521-bsrnk15j21ga0c9ssbdpkmlbbqcc0r5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559044741521-bsrnk15j21ga0c9ssbdpkmlbbqcc0r5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBScPuT8j8hX0-nYD6uH_uz1cWkaXAZEjY</string>
	<key>GCM_SENDER_ID</key>
	<string>559044741521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaperApp</string>
	<key>PROJECT_ID</key>
	<string>marvel-wallpaper-app-7adbf</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-wallpaper-app-7adbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559044741521:ios:b19014e827a91ebfa53230</string>
</dict>
</plist>